body, html {
  width:100%;
  text-align:center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.head {
    height: 50px;
    background-color: #1C9DEC;
}

.main {
  position: relative;
  top: 20px;
}
